<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Connection</title>
    {% load static %}
</head>
<body>
<h1>MY COLLECTION</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab atque cupiditate dignissimos esse itaque iusto, quos recusandae ullam vel. Ab consectetur dolore dolorum error modi nam non placeat sunt voluptate!</p>
<img src="{% static 'assets/tde1.jpg' %}" alt="">
<img src="{% static 'assets/tde2.jpg' %}" alt="">
<img src="{% static 'assets/tde3.jpg' %}" alt="">
<img src="{% static 'assets/tde4.jpg' %}" alt="">
<img src="{% static 'assets/tde5.jpg' %}" alt="">
<img src="{% static 'assets/tde6.jpg' %}" alt="">
</body>
</html>