<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>
</head>
<body>
<h1>MY GALLERY</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores aut corporis delectus deserunt distinctio dolores dolorum magnam maiores, mollitia nesciunt non odit quaerat quas rerum sequi unde veritatis voluptatem!</span><span>Assumenda, autem consectetur consequuntur delectus dignissimos distinctio earum error esse facere id magni maxime nemo nisi nobis pariatur perferendis placeat porro qui quisquam, reiciendis repellat sit tempora tenetur ut vel?</span></p>
</body>
</html>